/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 10px;*/
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url(images/sitebg-min.jpg) no-repeat center fixed;
    background-size: cover;
}

@font-face {
    font-family: 'Historia';
    src:url('font/TheHistoriaDemo.ttf')  format('truetype'); /* Safari, Android, iOS */
}


a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;

}
/*End global*/

/*Start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

section{
    padding: 0 0 6rem 0;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    opacity: .3;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h6{
    font-size: 1.8rem;
    font-weight: 300;
}

.margin-right-5{
margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index: 100;
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin: auto;
}

.nav-link{
    font-family: 'Historia', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.top-link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ffe838, #fd57bf);
    height: 4px;
    width: 100%;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.main-text h1{
font-size: 15rem;
font-family: 'Historia', sans-serif;
background: linear-gradient(to top, #ffe838, #fd57bf);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 1rem;
user-select: none;
}

.main-text h6{
    font-size: 2rem;
    font-weight: 300;
}
/*End header*/

/*Start about*/

.about{
    margin-top: 6rem;
    margin-bottom: 13rem;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social{
    margin-top: 5rem;
}

.social i{
    font-size: 5rem;
    transition: color 650ms;
    padding-right: 1rem;
}
.fa-facebook-square:hover{
    color: #4267b2;
}

.fa-linkedin:hover{
    color: #38a1f3;
}

.fa-instagram:hover{
    color: #ea4c89;
}

.fa-github-square:hover{
    color:#3f4c61;
}

.fa-address-card:hover{
    color: #ffe838;
}
/*End about*/

/*Start services*/

.services{
    margin-bottom: 13rem;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    transform: rotate(-45deg);
    display: flex;
    margin-bottom: 2rem;
}
.icon-container i{
    font-size: 5rem;
    margin: auto;
    color: #ffe838;
    transform: rotate(45deg);
}
/*End services*/

/*Start portfolio*/

.portfolio-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.portfolio-img{
    max-width: 30rem;
    width: 100%;
}

.portfolio-description h1{
    font-size: 3rem;
    padding: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    opacity: .3;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #3883ff;
    transition: color .6s;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}
/*End portfolio*/

/*Start timeline*/

.experience{
    margin-top: 5rem;
}

.timeline ul{
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    width: 70%;
    list-style: none;
    text-align: left;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date{
    position: relative;
}

.timeline .date:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1rem;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}
/*End timeline*/

/*Start footer*/

.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.copyright .up{
    position: absolute;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    background-color: #eee;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    animation: pulse 2s infinite;
}

.copyright i{
    margin: auto;
    color: #16162d;
    font-size: 2rem;
}

.copyright p{
    font-size: 1.4rem;
}

/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, .99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animations*/

/*Start media queries*/  

@media screen and (min-width: 112.5em) { /*1800px*/

}

@media screen and (max-width: 75em) { /*1200px*/

}

@media screen and (max-width: 56.25em) { /*900px*/

    html{
        font-size: 50%;
    }

    .main-text h1{
        font-size: 13rem;
    }



}

@media screen and (max-width: 37.5em) { /*600px*/

    html{
        font-size: 37.5%;
    }

    body{
        background: url(/images/sitebg2-min.jpg) no-repeat center fixed;
        background-size: cover;
    }

    .margin-right-5{
        margin: 0;
    }

    .main-text h1{
        font-size: 11rem;
    }

    .nav-list{
        flex-direction: column;
    }

    .nav-link{
        padding: 0;
    }

    .menu-toggler{
        top: 3rem;
        right: 3rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin-right: 0;
        margin-bottom: 10rem;
    }

    .social .nav-list{
        display: flex;
        flex-direction: row;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        order: 0;
    }

    .portfolio-description{
        order: 1;
        margin-top: 3rem;
        text-align: center;
    }

    .timeline ul{
        margin-right: 0;
        padding-right: 2rem;
    }

}



/*End media queries*/